
    .left-aside{
        nav{
            a{
                color: black;
                &:hover{
                    background-color: $hover-nav-interaction;
                    color:$accent-blue;
                    border-radius: 5px;
                }
            }
        }
        .my-profile-nav{
            a{
                filter: opacity(0.8);
                &:hover{
                    background-color: $hover-nav-interaction;
                }
                
            }
                
            
        }
        .card{
            background-color: $body-bg-color;
            border: none;
            .card-title{
                color:$accent-blue;
            }
        }
    }

    .right-aside{
        .list-group{
            .list-group-item{
                    a{
                        text-decoration: none;
                        color: $accent-blue;
                        font-weight: 500;
                    }
                    h5{
                        font-weight: 700;
                    }
                    p{
                        margin: 0;
                    }
                    span{
                        background-color:$blue-button;
                        color: white;
                    }
                    
                
            }
        }
    }