main{
    .card{
        .card-body{
            .card-bio{
                line-height: 15px;
                .bio-name{
                    color: $font-color;
                    font-weight: 500;
                    &:hover{
                        color: black;
                    }
                }
                p{
                    font-weight: 200;
                }
            }
            .card-content{
                .title{
                    color: black;
                    &:hover{
                        color: $accent-blue;
                    }
                }
                .tags{
                    a{
                        color: $font-color;
                        &:hover{
                            color: black;
                        }
                    }
                }
                #react{
                    background: rgb(9, 27, 71);
                    color: rgb(178, 255, 225);
                    padding: 4px;
                    border-radius: 4px;
                    span{
                        color: gray;
                    }
                }
            }
            .card-interaction{
                .statistics{
                    button{
                        background-color: white;
                        border: none;
                        padding: 5px 10px;
                        color: $font-color;
                        img{
                            height: 20px;
                            margin: 4px 0;
                            
                        }
                        span{
                            font-size: 14px;
                            
                        }
                        &:hover{
                            background-color: $hover-interaction-bg-color;
                            border-radius: 5px;
                            color: black;
                            img{
                                color: black;
                            }
                            
                        }
                    }
                }
                .saving{
                    span{
                        font-size: 11.2px;
                        margin-right: 5px;
                    }
                    button{
                        background-color: $button-bg-color;
                        border: none;
                        border-radius: 5px;
                        padding: 4px 12px;
                        font-size: 14px;
                        font-weight: 400;
                        color: $font-color;
                        &:hover{
                            background-color:$hover-button-bg-color;
                            color: black;
                        }
                        
                    }
                    
                }
            }
        }
    }
}