$body-bg-color:#EEF0F1;
$font-color:#4D5760;
$text-color:#363D44;
$input-bg-color:#F9FAFA;
$input-border-color:#99A3AD;
$accent-blue:#3C4BE0;
$button-bg-color:#D2D6DB;
$blue-button:#3B49DF;
$hover-blue-button:#323EBE;
$hover-interaction-bg-color:#F6F6F6;
$hover-button-bg-color:#B5BDC4;
$hover-nav-interaction:#E2E4E6;
$hover-main-nav-bg-color:#DCDFEF;


