$body-bg-color:#EEF0F1;
$input-bg-color:#F9FAFA;
$hover-interaction-bg-color:#F6F6F6;
$hover-button-bg-color:#B5BDC4;
$input-border-color:#99A3AD;
$button-bg-color:#D2D6DB;
$accent-blue:#3C4BE0;

$blue-button:#3B49DF;
$hover-blue-button:#323EBE;


$font-color:#4D5760;
$text-color:#363D44;
