body {
  background-color: #EEF0F1;
}

nav .navbar-input .toglee {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

nav .navbar-input .toglee:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
  background-color: #F6F6F6;
  border-radius: 50%;
}

nav .navbar-input .navbar-logo:hover {
  cursor: pointer;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

nav .navbar-input .form-control {
  width: 30vw;
  background-color: #F9FAFA;
  border-color: #99A3AD;
}

nav .navbar-buttons .btn {
  background-color: #3B49DF;
  color: white;
  font-weight: 500;
}

nav .navbar-buttons .btn:hover {
  background-color: #323EBE;
}

nav .navbar-buttons .nav-link.profile:hover {
  background-color: #F6F6F6;
  border-radius: 50%;
}

nav .navbar-buttons .nav-link.icon {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  margin: 0 5px;
}

nav .navbar-buttons .nav-link.icon:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
  background-color: #F6F6F6;
  border-radius: 50%;
}

.left-aside nav a {
  color: black;
}

.left-aside nav a:hover {
  background-color: #E2E4E6;
  color: #3C4BE0;
  border-radius: 5px;
}

.left-aside .my-profile-nav a {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.left-aside .my-profile-nav a:hover {
  background-color: #E2E4E6;
}

.left-aside .card {
  background-color: #EEF0F1;
  border: none;
}

.left-aside .card .card-title {
  color: #3C4BE0;
}

main .nav-main h1 {
  font-weight: bold;
}

main .nav-main .nav li a {
  font-weight: 400;
  color: #4D5760;
  margin: 5px;
  padding: 8px;
}

main .nav-main .nav li a:hover {
  color: #3C4BE0;
  background-color: #DCDFEF;
}

main .card .card-body .card-bio {
  line-height: 15px;
}

main .card .card-body .card-bio .bio-name {
  color: #4D5760;
  font-weight: 500;
}

main .card .card-body .card-bio .bio-name:hover {
  color: black;
}

main .card .card-body .card-bio p {
  font-weight: 200;
}

main .card .card-body .card-content .title {
  color: black;
}

main .card .card-body .card-content .title:hover {
  color: #3C4BE0;
}

main .card .card-body .card-content .tags a {
  color: #4D5760;
}

main .card .card-body .card-content .tags a:hover {
  color: black;
}

main .card .card-body .card-content #react {
  background: #091b47;
  color: #b2ffe1;
  padding: 2px 5px;
  border-radius: 5px;
}

main .card .card-body .card-content #react span {
  color: gray;
}

main .card .card-body .card-interaction .statistics button {
  background-color: white;
  border: none;
  padding: 5px 10px;
  color: #4D5760;
}

main .card .card-body .card-interaction .statistics button img {
  height: 20px;
  margin: 4px 0;
}

main .card .card-body .card-interaction .statistics button span {
  font-size: 14px;
}

main .card .card-body .card-interaction .statistics button:hover {
  background-color: #F6F6F6;
  border-radius: 5px;
  color: black;
}

main .card .card-body .card-interaction .statistics button:hover img {
  color: black;
}

main .card .card-body .card-interaction .saving span {
  font-size: 11.2px;
  margin-right: 5px;
}

main .card .card-body .card-interaction .saving button {
  background-color: #D2D6DB;
  border: none;
  border-radius: 5px;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  color: #4D5760;
}

main .card .card-body .card-interaction .saving button:hover {
  background-color: #B5BDC4;
  color: black;
}
/*# sourceMappingURL=styles.css.map */